.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 40%;
    position: absolute;
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto;
}
.text {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    font-weight: bold;
}
.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 270px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    animation: fadeIn 0.5s forwards;
    flex: 0 0 auto;
    transition: transform 0.5s;
}
.card.active {
    transform: translateY(-10px);
}
.card-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}
.info {
    display: none;
    width: 200px;
    height: 40px;
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: transform 0.8;
}
.bigdiv {
    gap: 20px;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 370px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 20px;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.deletebtn{
    position: relative;
    top: -95px;
    left: 80px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 10px;
}